{% extends 'layout.html' %}

{% block title %}Index{% endblock %}


{% block body %}

<p>

</p>
<p>
    <h3 class="display-5">PACCS: Pastoralist Climate Change Resilience in Somaliland</h3>
    <p>
    </p>
    <p>
        Pastoralism is the dominant livelihood for millions of East Africans, severely affected by climate change (drought, flash floods, weather variability).
        It is also a crucial locus of climate resilience, as pastoral systems have always adapted to challenging environmental conditions.
        However, pastoralism’s inherent resilience potentials have received limited academic attention and policy engagement.
    </p>


    <img src="https://www.fao.org/typo3temp/pics/7b0582a37b.jpg" class="center" alt="Pastoralists walking with sheep">

<p>
<p>

</p>
    <!-- Navigation buttons -->
    <a href="/gis" class="btn btn-primary">Go to GIS</a>
    <a href="/capacity_building" class="btn btn-primary">Go to Capacity Building</a>
    <a href="/publications" class="btn btn-primary">Go to Publications</a>
    <a href="/events" class="btn btn-primary">Go to Events</a>
    <a href="/register" class="btn btn-primary">Go to Register</a>
    <a href="/login" class="btn btn-primary">Go to Log In</a>
</p>


    <h2>In addressing this gap, PACCS will:</h2>

    <ol>
        <li><b>GIS:</b> We triangulate qualitative methods (fieldwork, qualitative interviews, focus groups) with quantitative surveys and the use of Participatory Geographic Information Systems.</li>
        <li><b>CAPACITY BUILDING:</b> Strengthen research capacities, institutional collaboration and South-South as well as North-South collaboration in the field of pastoralist climate resilience research.</li>
        <li><b>PUBLICATIONS:</b> Provide innovative research-based knowledge on pastoralist climate resilience and contribute to an empirically-driven (re)theorization and disaggregation of the resilience concept into finer-tuned categories, thereby enhancing its conceptual use for applied climate change research.</li>
        <li><b>EVENTS:</b> Translate insights on pastoralist climate resilience in Somaliland into policy recommendations to inform grounded, inclusive and integrated approaches to address climate change.</li>
    </ol>

{% endblock %}
