{% extends 'layout.html' %}

{% block title %}Input{% endblock %}

{% block body %}

<p>

</p>
    <!-- Navigation buttons -->
    <a href="/gis" class="btn btn-primary">Go to GIS</a> <!-- Use Bootstrap's button styling -->
    <a href="/capacity_building" class="btn btn-primary">Go to Capacity Building</a>
    <a href="/publications" class="btn btn-primary">Go to Publications</a>
    <a href="/events" class="btn btn-primary">Go to Events</a>
    <a href="/" class="btn btn-primary">Homepage</a>
    <a href="/" class="btn btn-primary">Logout</a>

</p>
<p>

</p>
<p>
    This page will be designed for GIS participants and others to input their findings.
</p>
<p>
    Data, both qualitative and quantitative, will be placed into files that can be reviewed by those who have signed in.
</p>

<p>
    Note: When you leave this work area you will be automatically logged out and have to log back in.
</p>

{% endblock %}
